<header>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Item List</a>
      </li>
    </ul>
</header>