<h2 class="text-primary">Message Box</h2>
<form action="/" method="post" id="chat">
  <div class="mb-3">
    <div class="form-control w-25" id="username"></div>
  </div>
  <div class="mb-3">
    <input id="text" type="text" class="form-control w-25 d-inline" />
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
  <hr>
  <div id="messages"></div>
</form>